<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='manuscript.module.user.management.personaldata.settings.mapper.PersonalDataSettingsMapper'>
		
	<select id="getUserData" resultType="manuscript.module.user.management.bean.User">
		SELECT 
			USERNAME as userName, 
			TITLE as title, 
			FIRST_NAME as firstName, 
			LAST_NAME as lastName, 
			EMAIL as email, 
			JOB as job
		FROM 
			USR_ALIAS AS ALIAS INNER JOIN USR_USER AS USER ON ALIAS.USER_ID = USER.USER_ID 
		WHERE 
			USER.USER_ID = #{userId};
	</select>
	
	<update id="updatePersonalData">
		UPDATE USR_USER
			<set>
				<if test="personalData.title != null">TITLE = #{personalData.title},</if>
				<if test="personalData.firstName != null">FIRST_NAME = #{personalData.firstName},</if>
				<if test="personalData.lastName != null">LAST_NAME = #{personalData.lastName},</if>
				<if test="personalData.job != null">JOB = #{personalData.job},</if>
				<if test="personalData.email != null">EMAIL = #{personalData.email}</if>
			</set>
		WHERE 
			USER_ID = #{userId}
	</update>
	
	<select id="getPasswordByUserId" resultType="string">
		SELECT 
			PASSWORD 
		FROM 
			USR_PASSWORD 
		WHERE 
			USER_ID = #{userId}
	</select>
	
	<update id="updatePasswordByUserId">
		UPDATE 
			USR_PASSWORD
			<set>
				PASSWORD = #{password.encryptedPassword},
				CREATION_DATE = CURRENT_TIMESTAMP,
				EXPIRY_DATE = DATE_ADD(CURRENT_TIMESTAMP, INTERVAL 150 DAY)
			</set>
		WHERE USER_ID = #{password.userId}
	</update>
</mapper>